<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LitBooks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D0BD4A41C8B738B00B0BF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0BD4BA1C8B738C00B0BF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0BD4C51C8B738C00B0BF6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
